.background {
  background: no-repeat center top fixed url(../../assets/images/stars.png);

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0px;
  padding: 0px;
}

.header-info {
  max-width: 1280px;
}

.header-text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.header-info .name {
  top: 75%;
  width: 60%;
}

.header-info .title {
  top: 90%;
  width: 60%;
}

#profile .row > div {
  margin-bottom: 20px;
}
#profile .row > div img {
  width: 100%;
  max-width: 246px;
  height: auto;
}

.flex-container {
  height: 80px;
  width: 140px;
  position: absolute;
  bottom: 0px;
  right: 2%;
  background-color: var(--secondary-background-color);
  z-index: 6;
  align-items: center;
  justify-content: center;
}

.menu-scroll .fa-solid {
  color: var(--font-bold-color);
  font-size: 40px;
  animation-name: up-down;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes up-down {
  0% {
    padding-top: 10px;
  }

  50% {
    padding-top: 28px;
  }

  100% {
    padding-top: 10px;
  }
}

@media (max-width: 898px) {
	.flex-container{
    width: 100%;
    height: 50px;
    right: 0%;
  }

  .header-info .name {
    top: 64%;
  }

  .header-info .title {
    top: 80%;
  }

  @keyframes up-down {
    0% {
      padding-bottom: 7px;
    }

    50% {
      padding-bottom: 20px;
    }

    100% {
      padding-bottom: 7px;
    }
  }
}
