<div class="background">
  <div class="container">
    <h1 class="name">Bill Klinton Mendes Araújo</h1>
    <h2 class="title">.Net Developer</h2>
  </div>
  <a href="#profile" class="menu-scroll">
    <div class="flex-container">
      <!-- <i class="fa-solid fa-caret-down"></i> -->
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </a>
</div>

<nav class="navbar">
  <div class="">
    <ul class="nav navbar-nav">
      <li><a href="#profile">Profile</a></li>
      <li><a href="#experiences">Experiences</a></li>
      <li><a href="#abilities">Abilities</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
