.footer{
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.phrase{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 300px;
  color: var(--font-bold-color);
  font-style: italic;
  text-align: center;
}

.autor{
  margin-top: 5px;
  color: var(--font-normal-color);
  font-weight: 100;
}

.owner{
  margin-top: 50px;
  color: var(--font-normal-color);
  font-weight: 100;
}

.owner hr{
  margin-bottom: 10px;
  margin-top: 0px;
}

hr{
  margin: 30px 100px;
}

@media (max-width: 898px) {
  .footer{
    padding: 10px 20px;
  }

  .phrase{
    padding: 10px 30px;
  }

	hr{
    margin: 30px 20px;
  }
}
