<div>
  <h5>Educations</h5>
      <app-topic-info
        companySchool="Faculdade Pitágoras"
        dateStart="Jan 2016"
        dateEnd="Dec 2019"
        title="Bachelor - Computer Science"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="Betim - MG"
        link="https://www.pitagoras.com.br"
      ></app-topic-info>
      <app-topic-info
        companySchool="Senai"
        dateStart="Jul 2013"
        dateEnd="Jan 2015"
        title="Techinical Course - Computer Science"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="Contagem - MG"
        link="https://www.senaimg.com.br"
      ></app-topic-info>
      <hr />
</div>
