<div class="flex-container">
  <div class="title">
    <span class="font-normal">{{ title }}</span>
  </div>
  <div class="score">
    <i
      class="fa-solid fa-rocket"
      [ngClass]="score > 0 ? 'checked' : 'unchecked'"
    ></i>
    <i
      class="fa-solid fa-rocket"
      [ngClass]="score > 1 ? 'checked' : 'unchecked'"
    ></i>
    <i
      class="fa-solid fa-rocket"
      [ngClass]="score > 2 ? 'checked' : 'unchecked'"
    ></i>
    <i
      class="fa-solid fa-rocket"
      [ngClass]="score > 3 ? 'checked' : 'unchecked'"
    ></i>
    <i
      class="fa-solid fa-rocket"
      [ngClass]="score > 4 ? 'checked' : 'unchecked'"
    ></i>
  </div>
</div>
