.flex-container{
  margin-top: 7px;
  padding-top: 2px;
}

.flex-container:hover .checked{
  margin-right: 5px;
  color: var(--primary-color);
  font-size: 17px;
}

.flex-container:hover{
  background-color: var(--secondary-background-color);
}

.title{
  margin-right: auto;
}

.score{
  margin-left: auto;
}

.checked{
  margin: 0px 3px;
  color: var(--primary-color);
  transition: all 0.3s;
}

.unchecked{
  margin: 0px 4px;
  color: var(--hover-color);
}

@media (max-width: 898px) {
  .flex-container{
    flex-direction: row;
  }
}
