<div>
  <h5>Careers</h5>
      <app-experiences-topic
        companySchool="InMetrics"
        dateStart="Jul 2021"
        dateEnd="current"
        title=".Net Developer"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="São Paulo - SP"
        link="https://inmetrics.com.br"
      ></app-experiences-topic>
      <app-experiences-topic
        companySchool="ConferIR"
        dateStart="Feb 2021"
        dateEnd="Jul 2021"
        title=".Net Developer"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="São Paulo - SP"
        link="http://www.conferironline.com.br"
      ></app-experiences-topic>
      <app-experiences-topic
        companySchool="Sinqia"
        dateStart="Oct 2020"
        dateEnd="Feb 2021"
        title=".Net Developer"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="Belo Horizonte - MG"
        link="https://www.sinqia.com.br"
      ></app-experiences-topic>
      <app-experiences-topic
        companySchool="Donuz"
        dateStart="May 2018"
        dateEnd="Sep 2020"
        title=".Net / Flutter Developer"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="Betim - MG"
        link="https://donuz.com.br"
      ></app-experiences-topic>
      <app-experiences-topic
        companySchool="LIGA Sistemas"
        dateStart="Oct 2017"
        dateEnd="May 2018"
        title="Technical Support Intern"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum."
        location="Belo Horizonte - MG"
        link="https://www.liga.inf.br"
      ></app-experiences-topic>
</div>
