<div id="contact">
  <h3 class="text-center">Contact</h3>
  <hr />
  <div class="flex-container">
    <div class="first-column">
      <div class="link">
        <span class="font-normal">
          <a href="https://www.linkedin.com/in/billklinton/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
            LinkedIn
          </a>
        </span>
      </div>

      <div class="link">
        <span class="font-normal">
          <a href="https://github.com/billklinton" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
            GitHub
          </a>
        </span>
      </div>
    </div>
    <div class="second-column">
      <div class="link">
        <span class="font-normal">
          <a href="mailto:bklinton14@gmail.com" target="_blank" type="email">
            <i class="fa-solid fa-envelope fa-2xl"></i>
            bklinton14@gmail.com
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
