<div class="ability">
  <h5>Tools</h5>
  <div class="flex-container">
    <div class="first-column">
      <app-abilities-topic title="Azure" [score]="2"></app-abilities-topic>
      <app-abilities-topic title="AWS" [score]="2"></app-abilities-topic>
      <app-abilities-topic title="Openshift" [score]="3"></app-abilities-topic>
      <app-abilities-topic title="Jenkins" [score]="2"></app-abilities-topic>
      <app-abilities-topic title="Apigee" [score]="2"></app-abilities-topic>
      <app-abilities-topic title="Rancher" [score]="1"></app-abilities-topic>
      <app-abilities-topic title="GoCD" [score]="1"></app-abilities-topic>
      <app-abilities-topic title="Heroku" [score]="2"></app-abilities-topic>
      <app-abilities-topic title="Firebase" [score]="2"></app-abilities-topic>
    </div>
    <div class="second-column">
      <app-abilities-topic title="Docker" [score]="3"></app-abilities-topic>
      <app-abilities-topic title="Git" [score]="4"></app-abilities-topic>
      <app-abilities-topic title="Jira" [score]="3"></app-abilities-topic>
      <app-abilities-topic title="Scrum" [score]="3"></app-abilities-topic>
      <app-abilities-topic title="Kanban" [score]="3"></app-abilities-topic>
    </div>
  </div>
</div>
