.navbar-mobile-wrapper{
  display: none;
}

.navbar-mobile {
  background-color: var(--secondary-background-color);
  display: none;
}

.navbar-mobile a {
  color: var(--font-normal-color);
  font-size: 15px;
}

.navbar-mobile a:hover {
  color: var(--font-bold-color);
  font-size: 17px;
  text-decoration: none;
}

.menu {
  padding: 19px 10px;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

@media (max-width: 898px) {
  .navbar-mobile {
    display: flex;
  }

  .navbar-mobile-wrapper{
    display: block;
  }
}
