<div>
  <h5>Skills</h5>
  <app-abilities-topic title="C#" [score]="5"></app-abilities-topic>
  <app-abilities-topic title=".NET Core" [score]="5"></app-abilities-topic>
  <app-abilities-topic title="Entity Framework" [score]="4"></app-abilities-topic>
  <app-abilities-topic title="Dapper" [score]="4"></app-abilities-topic>
  <app-abilities-topic title="RabbitMQ" [score]="4"></app-abilities-topic>
  <app-abilities-topic title="Kafka" [score]="2"></app-abilities-topic>
  <app-abilities-topic title="MediatR" [score]="4"></app-abilities-topic>
  <app-abilities-topic title="Unit Tests" [score]="4"></app-abilities-topic>
  <hr>
</div>
