.profile-image{
  border-radius: 50%;
  width: 235px;
  height: 235px;
}

.icons-row{
  margin: 25px 0px;
}

.icon {
  color: var(--button-color);
  transition: ease-in 0.1s all;
}

.icon:hover {
  color: var(--hover-color);
  cursor: pointer;
  transition: ease-in 0.1s all;
}

.row{
  justify-content: center;
}
