<div id="profile" class="profile">
  <div>
    <h2 class="text-center">Profile</h2>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>About me</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img class="profile-image" src="../../assets/images/me.jpg" />
      <div class="icons-row row">
        <div class="col-md-3">
          <a href="https://www.linkedin.com/in/billklinton/" target="_blank">
            <span class="icon">
              <i class="fa-brands fa-linkedin fa-2xl"></i>
            </span>
          </a>
        </div>
        <div class="col-md-3">
          <a href="" target="_blank">
            <span class="icon">
              <i class="fa-solid fa-file fa-2xl"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Details</h4>
      <p>
        <b>Name: </b><br />
        Bill
      </p>
      <p>
        <b>Age: </b><br />
        25
      </p>
      <p>
        <b>Location: </b><br />
        Minas Gerais, Brazil
      </p>
    </div>
  </div>
</div>
