<div id="profile">
  <h3 class="text-center">Profile</h3>
  <hr />
  <div class="flex-container">
    <div class="about">
      <h5>About me</h5>
      <p class="font-normal">
        I’m a developer passionate with technology, trying to make people life better thru it. I build softwares since 2013, but professionally since 2018, I’m focused on the.NET platform, developing, testing and maintaining enterprise software applications. I have experience on building APIs, websites, mobile apps, workers and softwares in general.
      </p>
    </div>
    <div class="principal text-center">
      <img class="profile-image" src="assets/images/me.jpg" />
      <div class="flex-container buttons">
        <app-button
          text="LinkedIn"
          icon="fa-brands fa-linkedin fa-2xl"
          link="https://www.linkedin.com/in/billklinton/">
        </app-button>
        <app-button
          text="Resume"
          icon="fa-solid fa-file-pdf fa-2xl"
          link="assets/resume.pdf">
        </app-button>
      </div>
    </div>
    <div class="details">
      <h5>Details</h5>
      <p class="font-bold">Name:</p>
      <p class="font-normal">Bill</p>
      <p class="font-bold">Age:</p>
      <p class="font-normal">{{age}}</p>
      <p class="font-bold">Location:</p>
      <p class="font-normal">Minas Gerais, Brazil</p>
    </div>
  </div>
</div>
