.flex-container{
  margin-bottom: 50px;
  margin-top: 20px;
}

.first-column{
  width: 30%;
}

.second-column{
  width: 70%;
  margin-left: 35px;
}

a {
  color: #90CAF9;
}

.icon-link{
  color: #42A5F5;
  margin-right: 15px;
}

.location{
  color: #A5D6A7;
}

.icon-location{
  color: #4CAF50;
}
