.flex-container {
  margin-bottom: 50px;
  margin-top: 20px;
}

.first-column {
  width: 30%;
}

.second-column {
  width: 70%;
  margin-left: 35px;
  white-space: pre-line;
}

.location {
  color: #a5d6a7;
}

.icon-location {
  color: #4caf50;
}

.extra-info {
  display: flex;
  flex-direction: row;
}

@media (max-width: 898px) {
  .flex-container {
    flex-direction: row;
  }

  .extra-info {
    flex-direction: column;
  }

  .pipe {
    display: none;
  }
}
