@font-face {
  font-family: "Hurmit";
  src: local("Hurmit"), url("./assets/fonts/Hurmit Medium Nerd Font Complete.otf") format("truetype");
}

::-webkit-scrollbar {
  width: 12px
}

::-webkit-scrollbar-track {
  background: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-background-color);
  border-radius: 5px;
  border: 3px solid var(--secondary-background-color);
}

/*Firefox*/
* {
  scrollbar-color: var(--primary-background-color) var(--secondary-background-color);
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  font-family: 'Hurmit', monospace;
  font-size: 16px;
  font-weight: 400;
}

:root {
  --primary-background-color: #161619;
  --secondary-background-color: #202233;
  --hover-color: #a08be8;
  --text-color: #efefef;
  --button-color: #efefef;
  --primary-color: #6d4edf;
}


body {
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

p{
  font-size: 14px;
  font-weight: 300;
}

.content{
  margin: 80px 220px;
}

h2{
  color: var(--primary-color);
}

h4{
  color: var(--hover-color);
}

hr{
  margin-bottom: 50px;
}
