<div id="nav-bar" class="floating-nav-bar-wrapper" position="right" (scroll)="scrollHandler($event)">
  <div class="floating-nav-bar">
    <div class="menu active">
      <a href="#profile">Profile</a>
    </div>
    <div class="menu">
      <a href="#experiences">Experiences</a>
    </div>
    <div class="menu">
      <a href="#abilities">Abilities</a>
    </div>
    <div class="menu">
      <a href="#projects">Projects</a>
    </div>
    <div class="menu">
      <a href="#contact">Contact</a>
    </div>
  </div>
</div>
