.floating-nav-bar-wrapper {
  background-color: var(--secondary-background-color);
  display: inline-block;
  position: absolute;
  top: 100%;
  right: 2%;
  height: 314px;
  width: 140px;
}

.fixed {
  position: fixed;
  top: 80px;
}

.active{
  background-color: #38383a;
  width: 100%;
}

.floating-nav-bar {
  display: flex;
  flex-direction: column;
}

.menu{
  padding: 19px 10px;
}

.floating-nav-bar a {
  color: var(--font-normal-color);
  font-size: 15px;
}

.floating-nav-bar a:hover{
  color: var(--font-bold-color);
  font-size: 17px;
  text-decoration: none;
}

.navbar-mobile{
  background-color: var(--secondary-background-color);
  display: none;
}

.navbar-mobile a {
  color: var(--font-normal-color);
  font-size: 15px;
}

.navbar-mobile a:hover{
  color: var(--font-bold-color);
  font-size: 17px;
  text-decoration: none;
}

hr{
  margin: 0.5px;
  display: none;
}

@media (max-width: 898px) {
	.floating-nav-bar-wrapper{
    display: none;
  }

  .navbar-mobile{
    display: flex;
    top: 100%;
  }

  hr{
    margin-top: 0.5px;
    display: flex;
  }
}

